.sendForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 44px;
    padding-top: 30px;
}

.textarea {
    border-radius: 20px;
    width: 976px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    padding: 12px 24px;
    overflow: hidden;
}

.button {
    background-color: #0066CC;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 40px;
    border: none;
}

.button:hover {

}

.button:active {

}
