.pagination {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    margin: 20px 0; /* Отступы сверху и снизу */
    gap: 10px; /* Расстояние между элементами */
}

.text1, .text2 {
    font-size: 14px;
    color: #555;
}

.text1 {
    margin-left: 20px; /* Отступ слева от пагинации */
}

.text2 {
    margin-right: 10px; /* Отступ справа от SuperSelect */
}
